@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #f5f1e9;
}
.bg-red {
  background-color: #ff6860;
}
.bg-slate {
  background-color: #d5e5d5;
}
.bg-green {
  background-color: #327d85;
}
